*{
    color: white;
    text-align: center;
    border-radius: 1000px;
    background-color: rgb(80, 188, 227);
}
.rs{
    width: 100px;
    height: 100px;
    font-size: 5rem;
    text-align: center;
    background-color: aquamarine;
}
.button{
    width: 100px;
    height: 250px;
    float: left;
}